@use "../base/variables" as *;

@media (max-width: 20rem) {
	.card {
		width: 300px;
		padding: toEm(30px, 15px) toEm(20px, 15px);
	}
}

@media (min-width: 48rem) {
	.card {
		width: 400px;
		padding-right: toEm(30px, 15px);
		padding-left: toEm(30px, 15px);
	}
}

@media (min-width: 64rem) {
	.card__bubble:hover {
		background-color: var(--bg-ratings-hover);
		color: var(--text-accent-white);
		cursor: pointer;
	}

	.button:hover,
    .button:focus,
    .button:active {
		cursor: pointer;
		background-color: var(--bg-button-hover);
		color: var(--text-accent-orange);
	}
}