@use "../base/variables" as *;

.button {
    background-color: var(--bg-button);
    border: none;
    display: block;
    width: 100%;
    margin-top: toEm(25px, 15px);
    padding: toEm(15px, 15px) 0;
    border-radius: 2em;
    text-transform: uppercase;
    color: var(--text-accent-white);
    font-weight: var(--fw-bold);
    letter-spacing: 3px;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}