@use '../base/variables' as *;

.card {
    background-color: var(--bg-card);
    width: 325px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: toEm(25px, 15px);
    padding: toEm(30px, 15px) toEm(22px, 15px);
	line-height: 1.5;

    &--submit {
        text-align: center;
    }

    &__bubble {
        background-color: var(--bg-ratings);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
    }

    &__bubble--active {
        color: var(--text-color-grey);
        font-weight: var(--fw-bold);
        transition: color 0.2s ease-in, background-color 0.2s ease-in;

		&:focus,
    	&:active {
			background-color: var(--bg-ratings-active);
			color: var(--text-accent-white);
		}
    }

    &__heading {
        color: var(--text-accent-white);
        font-size: toRem(25px);
        margin: toEm(20px, 25px) 0;
    }

    &__rating {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    &__img {
        margin: 0 auto;
    }

    &__info {
        display: inline-block;
        margin-top: 2em;
        background-color: var(--bg-info);
        padding: toEm(10px, 15px) 1em;
        color: var(--text-accent-orange);
        border-radius: toEm(20px, 15px);
    }
}