@use '../base/variables' as *;

.card {
    background-color: $bg-card;
    width: 90%;
    max-width: 405px;
    margin: 0 auto;
    border-radius: em(25px, 15px);
    padding: em(30px, 15px) em(23px, 15px);

    &--submit {
        display: none;
    }

    &__bubble {
        background-color: $bg-transparent;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
    }

    &__bubble--active {
        color: $text-color;
        font-weight: $fw-bold;
        transition: color 0.3s ease-in, background-color 0.3s ease-in;

        &:hover {
            background-color: $bg-grey;
            color: $text-accent-white;
            cursor: pointer;
        }

        &:focus,
        &:active {
            background-color: $bg-accent;
            color: $text-accent-white;
        }
    }

    &__heading {
        color: $text-accent-white;
        font-size: rem(25px);
        margin: em(20px, 25px) 0;
    }

    &__rating {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
        margin-bottom: 1em;
    }
}